<!DOCTYPE html>
<html>
  <head>
    <title>Enrollment1804</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div><%= link_to  "List All Students", students_path %></div>
      <div><%= link_to  "Add New Student", new_student_path %></div>
    </header>
    <%= yield %>
  </body>
</html>
